* {
  box-sizing: border-box;
}

body {

  margin: 0;
  padding: 0; 
  background-color: white; 
  font-family: 'Playfair Display', serif;
 
}

header {
  margin: 0; 
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex; 
  align-items: center;
}

.header_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title_container {
  display: flex; 
  align-items: center;
  margin-left: auto;
  margin-right: auto; 
}

.main_title {
  font-size: 1.5rem;
  margin: 0 10px 0 0;
  color: #36454f;
  
}

.drop_down {
  width: 20vw;
  order: 1;
}

.main_phone {
  display: none; 
  margin: 0;
  color: #36454f;
  padding-right: 1em;
}

.fa-bars {
  padding: 1rem; 
  order: -2;
  color: #36454f; 
}

.fa-horse {
  color: #e6c870;
}

/* media queries */

@media (min-width: 700px) {

  .main_title {
    padding-left: 2em; 
  }

  .main_phone {
    display: block; 
  }
  
}



/* fonts */







