* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0; 
  background-color: white; 
  color: #212427;
 
}

/* header */

header {
  position: fixed; 
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex; 
  align-items: center;
  z-index: 9999;
}

.header_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.title_container {
  display: flex; 
  align-items: center;
  justify-content: right;
  margin-left: auto;
  margin-right: auto; 
}

.main_title {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  font-size: 2.2rem;
  margin-right: 1rem;

  
}

.drop_down {
  position: relative; 
  display: inline-block;
  width: 2vw;
  order: -1;

}

.drop_down_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0.5rem;
}

.drop_down_content a {
   color: black;
   text-decoration: none;
}

.drop_down_content a:hover {
  color: gray; 
}








.fa-bars {
  padding: 1rem; 
  order: -2;
  color: #36454f; 
}

.fa-bars:hover{
  color: #e6c870;
}

.drop_down:hover .drop_down_content {
  display: block; 
}

.drop_down:active .drop_down_content {
  display: block; 
}

.fa-horse {
  display: none;
  color: #e6c870;
}

/* main */
.main_div_component {
  margin-top: 10vh;
  padding-bottom: 3rem;
}



.main_content {
  height: 90vh; 
  position: relative; 
}

.main_image {
  object-fit: cover;
  width: 100%;
  height: inherit;
  padding: 0;
  object-position: 50% 60%;

}

.image_title { 
  position: absolute; 
  color: white;
  text-shadow: 1px 1px 2px black;
  bottom: 12%;
  left: 4%;
}


.bio_container h4 {
  margin: 0; 
}

.bio_container {
  flex-direction: column;
  text-align: left;
  padding: 0 ;
  margin: 2rem auto;
  width: 75vw;
}

.experience {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  width: inherit;
  margin: 3rem auto; 
}

.experience_text {
  width: 75vw;
}

.horse_container {
  width: 75vw;
  height: auto;
}

.horse_container > img {
  margin: 0;
}

.sam_horse {
  width: 75vw;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.content {
  margin: 0;
  width: 75vw;
  height: 100%;
  object-fit: cover;
  margin-top: 0.5rem;
}

.video_container {
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sam_riding_v1 {
  width: 75%;
  object-fit: cover;
}

/* footer */

footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  height: 6vh;
  background-color: #E7E4E4;
  z-index: 9999;
}

.footer_container {
  width: 100%;
  height: inherit;
  padding: 0 3rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  
}


.social_icons {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  color: #212427
}

.icons:hover {
  color: #5A6672
}






/* media queries */

@media (min-width:1000px){
  .video_container {
    display: none; 
  }

  .experience {
    flex-direction: row;
   
  }

  .sam_horse {
    width: 30vw;
 
  }

  .experience_text {
    width: 35vw;
  }
  


}






  /* .contact_phone {
    border-bottom: 1px solid red;
    width: inherit;
    padding: 0 5vw; 
    padding-bottom: 1.5rem; 
  } */




/* fonts */







