* {
  box-sizing: border-box;
}

*,*:focus,*:hover{
  outline:none;
}

img,
video {
  border-radius: 5px;
}



body {
  margin: 0;
  padding: 0; 
  background-color: white; 
  color: #212427;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

p {

  margin-top: 0.5rem;
}

.page-top-margin {
  margin-top: 12rem; 
}


/* animations */

/* blinking drop animation, used on chevron arrows */

@keyframes dropBlink {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

/* Home title movement */

@keyframes titleMovement {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

/* fareharbor card enter */

@keyframes cardEnter {
  0% {
    box-shadow: 9px 9px 13px #ABAB9A;
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }


}

@keyframes cardLeave {
  0% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
  100% {
    box-shadow: 9px 9px 13px #ABAB9A;
  }


}

/* header */

header {
  position: fixed; 
  top: 0;
  width: 100%;
  min-width: 280px;
  height: 25vh;
  min-height: 150px;
  max-height: 175px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 9999;
  background-color: white;
  
  
}
  

.main-title {
  font-family: 'Aguafina Script', cursive;
  font-weight: bold;
  font-size: 2.8rem;
  margin: 1rem 0 0 2rem;
  color: #212427;
  text-decoration: none;
  display: flex;
  width: 40vw;
  
}

.main-title:hover,
.main-title:focus {
  animation: titleMovement 2s ease 0s 1 normal forwards;
}

 /* new nav with no dropdown */

 .nav-container {
  margin: 1rem 1rem 0 0;
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
}

.nav-container a {
  margin-top: 0.5rem;
  
}


/* old nav dropdown commented out below */

/* .nav-container {
  display: none;
} */

/* .drop-down {
  position: relative; 
  display: inline-block;
  margin-right: 1rem;
} */
/* 
.drop-down-content {
  display: none;
  position: absolute;
  left: -190px;
  background-color: #f9f9f9;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0.5rem 0;
  font-size: 0.9rem;

} */

/* .drop-down-content a {
  margin: 0.4rem 0 0 0.4rem;
  color: black;
  text-decoration: none;
} */

/* .drop-down-content a:hover {
  color: gray; 
}

.drop-down:hover .drop-down-content {
  display:flex; 
  flex-direction: column;
  align-items: flex-start;
} */


.navLink {
  margin-right: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


.fa-horse {
  display: none;
  color: #e6c870;
}

/* main */
.main-div-component {
  margin-top: 13rem;
  margin-bottom: 12rem;
}


.main-content {
  height: 50vh; 
  position: relative; 
}

.main-image {
  object-fit: contain;
  width: 80vw;
  max-width: 500px;
  padding: 0;
  object-position: 50% 60%;

}

.image-title { 
  position: absolute; 
  color: white;
  text-shadow: 1px 1px 2px black;
  bottom: 12%;
  left: 4%;
}


.bio-container h4 {
  margin: 0; 
}

.bio-container {
  flex-direction: column;
  text-align: left;
  padding: 0 ;
  margin: 0 auto 6rem auto;
  width: 80vw;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 3rem auto; 
}

.experience-text {
  margin-top: 2rem;
  max-width: 500px;
}



.contact-main h4 {
  margin-bottom: 0.5rem;
}

.booking-fine-print {
  text-align: center;
  list-style: none;
  padding: 0;
}

.booking-fine-print span {
 font-weight: bold;
}

.pricing-container-discount,
.booking-fine-print,
.contact-main {
  width: 70vw;
  margin: 3rem auto 0 auto;
}

.contact-main {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-bottom: 10rem;
}


.horse-container {
  width: 80vw;
  height: auto;
}

.horse-container-tagline {
  margin: 0 0 3rem 0;
  text-align: center;
  width: 80vw;
  max-width: 500px;
  font-style: italic;
}

.horse-container > img {
  margin: 0;
}

.sam-horse {
  width: 80vw;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.content {
  margin: 0;
  width: 80vw;
  height: 100%;
  object-fit: cover;
}

.video-margin {
  margin-top: 3rem;
}

.video-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sam-riding-v1 {
  width: 80vw;
  max-width: 500px;
  object-fit: cover;
}

/* Owner */
.about-owner-container {
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 1000px;
}

.owner1-angles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80vw;
  max-width: 320px;
  margin: 0;
}

.owner1 {

  width: 80vw;
  max-width: 320px;
  min-height: 360px;
  object-fit: contain;
  
}

.about-owner-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.owner2 {
  width: 80vw;
  max-width: 600px;
  max-height: 700px;
  object-fit: cover;
  margin-bottom: 4rem;
}





.about-owner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 80vw;
  max-width: 600px;
  margin: 2rem 0;
  scroll-margin-top: 150px;
}

.about-owner-text p {
  margin-top: -0.75rem;
}

.about-owner-angles {
  color: black;
  position: absolute;
  bottom: 75%;
  right: 42%;
  
  animation: dropBlink 8s ease 0s infinite normal forwards;
}

.about-owner-angles:hover,
.about-owner-angles:focus {
  color: #808080;
}

/* Meet Horses */

.meet-horses-page-container {
  margin-top: 12rem;
}

.meet-horses-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.meet-horse-img {
  width: 80vw;
  max-width: 400px;
  max-height: 75vw;
  object-fit: cover;


}

.meet-horses-text {
  width: 80vw;
  max-width: 400px;
}

.meet-horses-text p {
 margin-top: -0.75rem;
}

.meet-horses-bottom {
  margin-bottom: 12rem;
}

.colt-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.colt-text-container {
  width: 80vw;
  max-width: 400px;
}

.colt-image-container {
  text-align: center;
}



.colt-img {
  width: 80vw;
  max-width: 400px;
  max-height: 75vw;
  object-fit: cover;

}

.colt-nocona {
  object-fit: contain;
  width: 80vw;
  max-width: 400px;
}


/* Pricing */



.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.pricing-container {
  margin-top: 9rem;
  margin-bottom: 4rem;
  
}

.pricing-container-discount {
  text-align: center;
  margin-bottom: 0;
}

.price-img {
  width: 80vw;
  max-width: 400px;
  object-fit: cover;

}

.pricing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 80vw;
  max-width: 400px;
  margin-bottom: 20rem;
}



.pricing-list li {
  list-style: none;
}

.pricing-list {

  align-items: left;
  margin-top: -2rem;
  list-style: none;
 
}

.pricing-text h3 {
  margin-bottom: 2rem;
}

.fareharbor-card {
  position: relative;
  margin-top: 3.5rem;
  width: 90vw;
  max-width: 400px;
  min-width: 300px;
  height: 80vh; 
  max-height: 510px;
  min-height: 510px;
  background-color: #ECECEA;
  box-shadow: 9px 9px 13px black;
  border-radius: 5px;
}

.fareharbor-giftcard {
  position: relative;
  margin-top: 3.5rem;
  width: 90vw;
  max-width: 400px;
  min-width: 300px;
  height: 80vh; 
  max-height: 350px;
  min-height: 350px;
  background-color: #ECECEA;
  box-shadow: 9px 9px 13px black;
  border-radius: 5px;

}



.cardEnter {
  animation: cardEnter 1s ease 0s 1 normal forwards;
}

.cardLeave {
  animation: cardLeave 1s ease 0s 1 normal forwards;
}

.fareharbor-img {
  width: 90vw;
  max-width: 400px;
  min-width: 300px;
  max-height: 200px;
  object-fit: cover;
  object-position: 0 0%;
  border-radius: 5px;
}

.meethorses1  {
  width: 90vw;
  max-width: 400px;
  min-width: 300px;
  max-height: 200px;
  object-fit: cover;
  object-position: 0 35%;
  border-radius: 5px;
}

.samcanyon {
  width: 90vw;
  max-width: 400px;
  min-width: 300px;
  max-height: 200px;
  object-fit: cover;
  object-position: 0 35%;
  border-radius: 5px;
}





.fareharbor-price-container {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 620px;
  left: 78%;
  padding: 8px 13px;
  background-color: rgb(236, 236, 234, 0.75);
  border-radius: 5px;
  bottom: 325px;
    left: 80%;
  
}

.fareharbor-price {
  font-weight: bold;
  margin: 0;
}

.fareharbor-card-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1rem 1rem 1rem;
  padding-bottom: 2rem;
 
}

.fareharbor-card-text p {
  margin-bottom: 1rem;
}

.fareharbor-title {
  margin-bottom: 0.5rem;
  
}


.fH-btn-price-container {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 30px;
}

.fareharbor-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  padding: 8px 25px;
  color: #F5F5F4;
  background-color: #73877B;
  border-radius: 5px;
  font-weight: bold;
  width: 50vw;
  max-width: 200px;
  min-width: 150px;
  text-align: center;
}

.fareharbor-btn:hover,
.fareharbor-btn:focus {
  color:#252C27;
  background-color: #839788;
  box-shadow: 0px 0px 13px #73877B;
}

/* footer */

footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #ECECEA;
  z-index: 9999;
}

.footer-container {
  width: 100%;
  height: inherit;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  
}


.social-icons {
  width: 87%;
  height: inherit;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.icons {
  color: #212427
}

.icons:hover,

.icons:focus {
  color: #BDBBB6;
  cursor: pointer;
}

.navLink:hover,
.navLink:focus {
  color: #BDBBB6;
  cursor: pointer;
}






/* media queries */




@media (min-width:800px){ 

  header {
    height: 8vh;
  }
 
 /* about owner */

 .about-owner-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
 
}

.about-owner-text {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 550px;
  min-width: 350px;
  max-height: 450px;
}

.about-owner-text p {
 
  max-height: 350px;
}



.about-owner-angles {
  display: none;
}



.owner2 {
  max-width: 1200px;
  min-height: 360px;
  object-fit: cover;
  margin: 2rem auto;
 
}


}




@media (min-width:1100px){



  .main-div-component {
    margin: 10rem 0 12rem 0;
  }



  .page-top-margin {
    margin-top: 8rem;
  }

  .nav-container {
    display: block;
    align-items: center;
    width: 70vw;
  }

  .nav-container a {
    margin-right: 1rem;
  }

  .main-title {
    width: 30vw;
    font-size: 3.5rem;
  }

  
  
   
  /* 
  desktop version removed per client
  
  .video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px;
    
    
  } */

  

  .sam-riding-v1 {
    width: 40vw;
    max-width: 500px;
    object-fit: cover;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .video-margin {
  margin-top: 1rem;
}

  .experience {
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    
  }
 

  .experience-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

  .experience-text p {
    max-width: 500px;
    margin-bottom: 2rem;
  }

  .sam-horse {
    width: 30vw;
 
  }



  .drop-down {
    display: none;
  }

 

  /* meet horses page large screens */

  .meet-horses-page-container {
    margin-bottom: 2rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }

  .meet-horses-container {
    width: 70vw;
    min-width: 1100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
  
  }

  .meet-horse-img {
    object-fit: cover;
    min-width: 600px;
    max-height: 500px;
    margin: 0;
   
  }


  .meet-horses-text {
    font-size: 1.2rem;
    text-align: justify;
  }

 

  .last-meet-horse-img {
    margin-bottom: 3rem;
  }

  .swap-order {
    order: -1;
  }


 
  /* pricing */


  .card-container {
   
    width: 90vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 4rem auto 5rem auto;
  }

  .fareharbor-card {
    max-width: 450px;
    max-height: 600px;
    min-height: 600px;
    
  }

  .fareharbor-price-container {
   
    bottom: 390px;
    left: 80%;
    
  }

  .fareharbor-img,
  .samcanyon,
  .meethorses1 {
    min-width: 450px;
    max-height: 225px;
    object-fit: cover;
    margin: 0;
  }

  

  .fareharbor-giftcard {
    
    max-width: 450px;
    
  }

  .price-img {
    min-width: 400px;
    object-fit: cover;
    margin: 0;
  }

  .pricing-text {
    margin-top: 5rem;
  }

  .pricing-list {
    margin-right: 3rem;
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .pricing-list li {
    margin-right: 2rem;
  }
  
  .contact-main {
    margin-bottom: 10rem;
  }

  /* fareharbor cards */

  .fareharbor-card, 
  .fareharbor-giftcard {
    margin: 1rem;
  }

  


  /* Colt Photos */

  .colt-container {
    text-align: center;
  }

  .colt-image-container {
    display: flex;
    justify-content: space-around;
  }

  .colt-img {
    width: 35vw;
    max-width: 400px;
    margin-right: 1rem;
  }





}






  /* .contact-phone {
    border-bottom: 1px solid red;
    width: inherit;
    padding: 0 5vw; 
    padding-bottom: 1.5rem; 
  } */




/* fonts */







