* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0; 
  background-color: white; 
  color: #212427;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

p {

  margin-top: 0.5rem;
}

.page_top_margin {
  margin-top: 15vh; 
}

/* header */

header {
  position: fixed; 
  top: 0;
  width: 100%;
  height: 11vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  background-color: white;
}
  

.main_title {
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  margin-left: 1rem;
  color: #212427;
  text-decoration: none;
  
}

.nav_container {
  display: none;
}

.drop_down {
  position: relative; 
  display: inline-block;
  margin-right: 1rem;
}

.drop_down_content {
  display: none;
  position: absolute;
  left: -190px;
  background-color: #f9f9f9;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0.5rem 0;
  font-size: 0.9rem;

}

.drop_down_content a {
  margin: 0.4rem 0 0 0.4rem;
  color: black;
  text-decoration: none;
}

.drop_down_content a:hover {
  color: gray; 
}

.drop_down:hover .drop_down_content {
  display:flex; 
  flex-direction: column;
  align-items: flex-start;
}


.navLink {
  margin-right: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


.fa-horse {
  display: none;
  color: #e6c870;
}

/* main */
.main_div_component {
  margin-top: 10vh;
  padding-bottom: 3rem;
}


.main_content {
  height: 90vh; 
  position: relative; 
}

.main_image {
  object-fit: cover;
  width: 100%;
  height: inherit;
  padding: 0;
  object-position: 50% 60%;

}

.image_title { 
  position: absolute; 
  color: white;
  text-shadow: 1px 1px 2px black;
  bottom: 12%;
  left: 4%;
}


.bio_container h4 {
  margin: 0; 
}

.bio_container {
  flex-direction: column;
 
  text-align: left;
  padding: 0 ;
  margin: 2rem auto 6rem auto;
  width: 80vw;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  margin: 3rem auto; 
}

.contact_main {
  list-style: none;
}

.horse_container {
  width: 80vw;
  height: auto;
}

.horse_container > img {
  margin: 0;
}

.sam_horse {
  width: 80vw;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.content {
  margin: 0;
  width: 80vw;
  height: 100%;
  object-fit: cover;
}

.video_margin {
  margin-top: 3rem;
}

.video_container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sam_riding_v1 {
  width: 80vw;
  object-fit: cover;
}

/* Owner */
.about_owner_container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.owner1 {
  width: 80vw;
  max-width: 300px;
  max-height: 65vh;
  min-height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.about-owner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 80vw;
  max-width: 300px;
  
  margin-bottom: 10rem;
}

.about-owner-text p {
  margin-top: -0.75rem;
}


/* Meet Horses */

.meet-horses-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.meet-horse-img {
  width: 80vw;
  max-width: 400px;
  max-height: 75vw;
  object-fit: cover;
  margin: 0 auto;
}

.meet-horses-text {
  width: 80vw;
  max-width: 400px;
}

.meet-horses-text p {
 margin-top: -0.75rem;
}

.meet-horses-bottom {
  margin-bottom: 7rem;
}

/* Pricing */

.pricing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-img {
  width: 80vw;
  max-width: 400px;
  object-fit: cover;
  margin: 0 auto;

}

.pricing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 80vw;
  max-width: 400px;
  margin-bottom: 10rem;
}



.pricing-list li {
  list-style: none;
}

.pricing-list {

  align-items: left;
  margin-top: -2rem;
  list-style: none;
 
}

.pricing-text h3 {
  margin-bottom: 2rem;
}

/* footer */

footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #d2d6db;
  z-index: 9999;
}

.footer_container {
  width: 100%;
  height: inherit;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  
}


.social_icons {
  width: 87%;
  height: inherit;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.icons {
  color: #212427
}

.icons:hover,
.navLink:hover {
  color: #5A6672;
  cursor: pointer;
}






/* media queries */

@media (min-width:1100px){
  .video_container {
    display: none; 
  }

  .experience {
    flex-direction: row;
    justify-content: space-between;
  }

  .sam_horse {
    width: 30vw;
 
  }

  .experience_text {
    width: 35vw;
  }

  .drop_down {
    display: none;
  }

  .nav_container {
    display: block;
    align-items: center;
  }

  /* meet horses page large screens */

  .meet-horses-page-container {
    margin-bottom: 10rem;
    min-width: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }

  .meet-horses-container {
    width: 70vw;
    min-width: 1100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
  
  }

  .meet-horse-img {
    object-fit: cover;
    min-width: 600px;
    max-height: 365px;
    margin: 0;
   
  }


  .meet-horses-text {
    font-size: 1.5rem;
    text-align: justify;
    
  }

  .last-meet-horse-img {
    margin-bottom: 3rem;
  }

  .swap-order {
    order: -1;
  }
 
  


}






  /* .contact_phone {
    border-bottom: 1px solid red;
    width: inherit;
    padding: 0 5vw; 
    padding-bottom: 1.5rem; 
  } */




/* fonts */







